<div class="navbar <%= 'nav-bg' unless current_page?('/') %>">
  <%= link_to root_path, class: "navbar-logo" do %>
    <img src="/assets/logo_rect_white.png" alt="Alpinrad's logo"/>
  <% end %>

<div class="navigation">
  <%= link_to "Home", root_path, class: "navigation-link" %>
  <%= link_to "Pop-up Tour", karte_path, class: "navigation-link" %>
  <% if user_signed_in? %>
  <% if current_user.role == 'admin' %>
    <%= link_to "Admin dashboard", admin_path, class: "navigation-link" %>
    <%= link_to "Manage stations", stations_path, class: "navigation-link" %>
  <% end %>
    <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "navigation-link" %>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "navigation-link" %>
    <%= link_to "Sign up", new_user_registration_path, class: "navigation-link" %>
  <% end %>
</div>
</div>
